<template>
  <div class="container">
    
    <div class="row">
    	<div class="col-lg-12">

            <!-- <div class="jumbotron">
              <h1 class="display-4">Welcome</h1>
              <p class="lead">On this page there is a master table for organizing master data</p>
              <hr class="my-4">
              <p>CRUD operations can be performed on this page. CRUD is an acronym for Create, Read, Update, and Delete. CRUD operations are basic data manipulations for databases.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://www.youtube.com/" role="button">Learn more</a>
              </p>
            </div> -->

    		<div class="row">
                <div class="col-lg-6">
                    <span style="font-size: 30px"><i>{{ table_name }}</i></span>
                    <br><br>
                </div>
                <div class="col-lg-4">
                    <select  v-model="table" class="form-control">
                        <option  :key="item" :value="item" v-for="item in tables">{{ item }}</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <button @click="refresh" class="btn btn-info btn-block">Show</button>
                </div>
            </div>

            <!-- table master -->

    		<table v-if="datas.length > 0" class="table table-hover table-bordered ">
		    	<thead>
		    		<tr>
		    			<th :key="key" v-for="(value, key) in datas[0]">{{ key }}</th>
                        <th>Action</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		
		    		<tr :key="item.id" v-for="item in datas">
		    			<td :key="key" v-for="(value, key) in item" >{{ render(value) }}</td>
                        <td>
                            <button @click="view(item)" class="btn btn-xs p-0 btn-block btn-success"><small>view</small></button>

                        </td>
		    		</tr>
		    		
		    	</tbody>
		    </table>
		    <br>
		    
    	</div>
        <div class="col-lg-6">
            <button @click="create()" clacss="btn btn-warning">Create</button>
        </div>
    	<div class="col-lg-6 text-right">
    		
    		<button v-if="page !=1 " @click="back()" class="btn btn-secondary">Back</button>
            <label>&nbsp;&nbsp;&nbsp;</label>
    		<button v-if="total !=0 " @click="next()" class="btn btn-dark">Next</button>

    	</div>
        <hr><br><br>

        <!-- modal detail raw_materials -->
    
        <modal height="auto" :scrollable="true" width="1200" name="raw_materials">
            <div style="padding: 20px" class="col-lg-12">
                <h3><i>{{ table_name }}</i></h3>
                <hr>
                <div class="row">
                    <div  class="col-lg-4">
                        <label>code</label>
                        <input type="text" v-model="data.code" class="form-control" name="">
                    </div>
                    <div  class="col-lg-4">
                        <label>name</label>
                        <input type="text" v-model="data.name" class="form-control" name="">
                    </div>
                    <div  class="col-lg-2">
                        <label>unit</label>
                        <input type="text" v-model="data.uom" class="form-control" name="">
                    </div>
                    <div  class="col-lg-2">
                        <label>ID</label>
                        <input type="text" v-model="data.id" disabled class="form-control" name="">
                    </div>
                </div>
                <div style="padding-top: 20px" class="row">
                    <div  class="col-lg-4">
                        <label>harga beli</label>
                        <input type="number" min="0" v-model="data.buy_price" class="form-control" style="width: 100%" name="">
                    </div>
                    <div  class="col-lg-4">
                        <label>jumlah beli</label>
                        <input type="number" min="0" v-model="data.buy_qty" class="form-control" name="">
                    </div>
                    
                    <div  class="col-lg-4">
                        <label>harga satuan</label>
                        <input type="text"  disabled :value="data.buy_price/data.buy_qty" class="form-control" name="">
                    </div>
                </div>
                <br>
                <div  class="text-right">
                    <button @click="save()" class="btn btn-primary">Submit</button>
                    
                </div>
            </div>
        </modal>

        <!-- modal detail article -->

        <modal height="auto" :scrollable="true" width="1200" name="articles">
            <div style="padding: 20px" class="col-lg-12">
                <h3><i>{{ table_name }}</i> </h3>
                <hr>
                <div class="row">
                    <div  class="col-lg-4">
                        <label>code</label>
                        <input type="text" v-model="data.code" class="form-control" name="">
                    </div>
                    <div  class="col-lg-6">
                        <label>name</label>
                        <input type="text" v-model="data.name" class="form-control" name="">
                    </div>
                    <div  class="col-lg-2">
                        <label>ID</label>
                        <input type="text" v-model="data.id" disabled class="form-control" name="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <button @click="hpp(data)" class="btn btn-info text-right">HPP</button>    
                    </div>
                    <div class="col-lg-6 text-right">
                        
                        <button @click="save()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                
            </div>
        </modal>

        <!-- modal detail hpp -->

        <modal height="auto" :scrollable="true" width="1200" name="hpp">
            <div class="col-lg-12" style="padding: 20px">
                <h3>HPP {{ data.name }}</h3>
                <hr>
                <table class="table table-hover table-stripped">
                    <table v-if="hpps.length > 0" class="table table-hover table-bordered ">
                        <thead>
                            <tr>
                                <th :key="key" v-for="(value, key) in hpps[0]">{{ key }}</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr :key="item.id" v-for="item in hpps">
                                <td :key="key" v-for="(value, key) in item" >{{ render(value) }}</td>
                                <td>
                                    <button @click="viewRaw(item)" class="btn btn-xs p-0 btn-block btn-info"><small>Detail</small></button>

                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </table>

                <div class="row">
                    <div v-if="is_create" class="col-lg-4">
                        <input type="text" v-model="hpp_data.name" placeholder="hpp name" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <button v-if="!is_create" @click="enableIsCreate()" class="btn btn-warning">Create</button>
                        <button v-if="is_create" @click="saveHpp()" class="btn btn-primary">Submit</button>
                    </div>
                    
                </div>
            </div>
        </modal>
    
        <!-- modal detail hpp detail -->

        <modal height="auto" :scrollable="true" width="1200" name="raw">
            <div class="col-lg-12" style="padding: 20px">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Raw Material {{ data.name }}</h3>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="active">
                            <button @click="getRaw()" class="btn btn-dark text-right">⟳</button>
                        </label>
                        <label >
                            <button @click="hpp(data)" class="btn btn-secondary text-right">Back</button>
                        </label>
                        
                        </div>
                        
                        
                    </div>
                </div>
                
                <hr>
                <table class="table table-hover table-stripped">
                    <table v-if="hpp_details.length > 0" class="table table-hover table-bordered ">
                        <thead>
                            <tr>
                                <th :key="key" v-for="(value, key) in hpp_details[0]">{{ key }}</th>
                                <th style="width: 150px" class="text-center">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr :key="item.id" v-for="item in hpp_details">
                                <td :key="key" v-for="(value, key) in item" >{{ render(value) }}</td>
                                <td>                                   
                                    <button @click="editRaw(item)" style="width: 50%" class="btn btn-xs p-0  btn-warning"><small>Edit</small></button>
                                    <button @click="deleteRaw(item)" style="width: 50%" class="btn btn-xs p-0  btn-danger"><small>Delete</small></button>

                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </table>
                <div v-if="is_update" class="row">
                    <div  class="col-lg-4">
                        <label>Jenis Bahan</label>
                        <input type="text" disabled min="0" class="form-control" v-model="hpp_detail.name">
                    </div>
                    <div  class="col-lg-2">
                        <label>Qty</label>
                        <input placeholder="e.g. 22" type="number" min="0" class="form-control" v-model="hpp_detail.qty">
                    </div>
                </div>
                <div v-if="is_create" class="row">
                    <div  class="col-lg-4">

                        <label>Jenis Bahan</label>
                        <select class="form-control" aria-placeholder="asd" v-model="hpp_detail.raw_material">

                            <option  :key="item.id" :value="item" v-for="item in raws">{{ item.name }}</option>

                        </select>
                    </div>
                    <div  class="col-lg-2">
                        <label>Qty</label>
                        <input placeholder="e.g. 22" type="number" min="0" class="form-control" v-model="hpp_detail.qty">
                    </div>
                    <div v-if="hpp_detail.raw_material"  class="col-lg-2">
                        <label>UOM</label>
                        <input disabled class="form-control" :value="hpp_detail.raw_material.uom">
                    </div>
                    <div v-if="hpp_detail.raw_material"  class="col-lg-2">
                        <label>Unit Price</label>
                        <input disabled class="form-control" :value="hpp_detail.raw_material.unit_price">
                    </div>

                    <div v-if="hpp_detail.qty"  class="col-lg-2">
                        <label>Price</label>
                        <input disabled class="form-control" :value="hpp_detail.raw_material.unit_price*hpp_detail.qty">
                        <br>
                    </div>
                    
                    
                    
                </div>
                <div v-if="(is_create || is_update)" class="row">
                    <div class="col-lg-12 text-right ">
                        <button  @click="saveRaw()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div v-if="(!is_create & !is_update)" class="row">
                    <div class="col-lg-12 text-right">
                        <button  @click="enableIsCreate()" class="btn btn-success">Create</button>
                    </div>
                </div>

            </div>
        </modal>

        
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src

import axios from 'axios'
import Vue from 'vue';
import VueSweetalert2 from 'vue-sweetalert2';
import VModal from 'vue-js-modal'

import vSelect from 'vue-select'
 
Vue.component('v-select', vSelect)
 
Vue.use(VueSweetalert2)
Vue.use(VModal)

// If you don't need the styles, do not connect
import 'sweetalert2/dist/sweetalert2.min.css';
import 'vue-select/dist/vue-select.css';

var querystring = require('querystring')
const toast = Vue.swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000
});

export default {
    name: "home",
    data() {
        return {
            data: {},
            datas: [],
            total: 0,
            page: 1,

            table: 'articles',
            table_name: 'articles',

            tables: ['articles', 'raw_materials'],

            hpps: [],
            hpp_data: {},
            is_create: false,
            is_update: false,

            article: {},

            hpp_details: [],
            hpp_detail: {},

            raws: [],

        }
    },
    mounted() {

        this.getData()
        this.getAllRaw()

    },

    methods: {

        reset() {
            this.is_create = false
            this.is_update = false
        },

        editRaw(data) {
            

            this.hpp_detail = data
            this.is_update = true
                        
        },
        
        viewRaw(data) {

            this.reset()
            this.hpp_data = data
            this.getRaw()
            this.close("hpp")
            this.open("raw")

        },

        enableIsCreate(){

            this.is_create = true
            
        },

        hpp(data) {

            this.reset()
            this.close(this.table_name)
            this.close("raw")
            this.article = data
            this.getHpp()
            this.open("hpp")

        },

        open(name) {
            this.$modal.show(name);
        },

        close(name) {
            this.$modal.hide(name);
        },

        create() {
            this.open(this.table_name)
            this.data = {}
        },
        
        saveHpp() {

            this.hpp_data.article_id = this.data.id

            if (this.hpp_data.id > 0) {

                axios.put(this.$host + "/update/" + "hpps",
                    querystring.stringify(this.hpp_data), {
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    }).then(function(response) {
                    if (response.data.status == 200) {
                        toast.fire({
                            type: 'success',
                            title: 'Updated successfully'
                        })

                    }

                });

            } else {
                axios.post(this.$host + "/create/" + "hpps",
                    querystring.stringify(this.hpp_data), {
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    }).then(function(response) {
                        
                    if (response.data.status == 200) {
                        toast.fire({
                            type: 'success',
                            title: 'Created successfully'
                        })

                    }

                });
            }

            this.reset()

            this.getHpp()
        },

        save() {

            if (this.table_name == 'raw_materials') {
                this.data.unit_price = parseInt(parseInt(this.data.buy_price) / parseInt(this.data.buy_qty))
            }

            if (this.data.id > 0) {

                axios.put(this.$host + "/update/" + this.table_name + "/" + this.data.id,
                    querystring.stringify(this.data), {
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    }).then(function(response) {

                    if (response.data.status == 200) {
                        toast.fire({
                            type: 'success',
                            title: 'Updated successfully'
                        })
                    } else {
                        Vue.swal("Fail", response.data.msg, "error")
                    }

                });

            } else {
                axios.post(this.$host + "/create/" + this.table_name,
                    querystring.stringify(this.data), {
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    }).then(function(response) {
                    if (response.data.status == 200) {
                        toast.fire({
                            type: 'success',
                            title: 'Created successfully'
                        })

                    }

                });
                this.refresh()
            }

            this.close(this.table_name)


        },

        deleteRaw(item) {

            var data = {
                "is_deleted": 1,
                "qty" : 0,
            }

            axios.put(this.$host + "/update/" + "hpp_details" + "/" + item.id,
                querystring.stringify(data), {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(function(response) {
                
                if (response.data.status == 200) {
                    toast.fire({
                        type: 'success',
                        title: 'Deleted successfully'
                    })
                    
                } else {
                    Vue.swal("Fail", response.data.msg, "error")
                }

            });

            this.reset()
            this.getRaw()


        },

        saveRaw() {


            if (this.hpp_detail.id > 0) {

                var data = {
                    "qty": this.hpp_detail.qty
                }

                this.hpp_data.id = this.hpp_detail.hpp_id

                axios.put(this.$host + "/update/" + "hpp_details" + "/" + this.hpp_detail.id,
                    querystring.stringify(data), {
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    }).then(function(response) {
                    
                    if (response.data.status == 200) {
                        toast.fire({
                            type: 'success',
                            title: 'Updated successfully'
                        })
                        
                    } else {
                        Vue.swal("Fail", response.data.msg, "error")
                    }

                });

            } else {
                
                this.hpp_detail.hpp_id = this.hpp_data.id
                this.hpp_detail.raw_id = this.hpp_detail.raw_material.id
                delete this.hpp_detail.raw_material

                axios.post(this.$host + "/create/" + "hpp_details",
                    querystring.stringify(this.hpp_detail), {
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded"
                        }
                    }).then(function(response) {
                    if (response.data.status == 200) {
                        toast.fire({
                            type: 'success',
                            title: 'Created successfully'
                        })

                    }

                });
            }

            this.hpp_detail = {}

            this.reset()
            this.getRaw()


        },

        view(item) {
            this.open(this.table_name)
            this.data = item
        },

        render(val) {

            if (Number.isInteger(val)) {
                return val.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
            } else {
                return val
            }

        },

        refresh() {
            this.table_name = this.table
            this.getData()
            this.data = {}
        },


        back() {
            this.page = this.page - 1
            this.getData()
        },

        next() {
            this.page = this.page + 1
            this.getData()
        },

        getData() {
            axios.get(this.$host + "/list/" + this.table + "/" + this.page).then(response => {

                this.datas = []
                this.total = response.data.values.length

                for (var i = 0; i < response.data.values.length; i++) {
                    var data = response.data.values[i]
                    delete data.is_deleted
                    delete data.created_at
                    this.datas.push(data)
                }


            })
        },

        getHpp() {

            var param = {
                "article_id": this.data.id
            }

            axios.post(this.$host + "/cond/" + "v_hpps" + "/" + this.page,

                querystring.stringify(param), {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(response => {

                this.hpps = []

                for (var i = 0; i < response.data.values.length; i++) {
                    var data = response.data.values[i]
                    delete data.is_deleted
                    delete data.created_at
                    this.hpps.push(data)
                }


            })

        },

        getRaw() {

        
            var param = {
                "hpp_id": this.hpp_data.id
            }

            axios.post(this.$host + "/cond/" + "v_hpp_details" + "/" + 1,

                querystring.stringify(param), {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(response => {

                this.hpp_details = []

                for (var i = 0; i < response.data.values.length; i++) {
                    var data = response.data.values[i]
                    delete data.is_deleted
                    delete data.created_at
                    this.hpp_details.push(data)
                }


            })

        },

        getAllRaw() {

            var param = {
                "is_deleted": 0,
            }

            axios.post(this.$host + "/cond/" + "raw_materials" + "/" + this.page,

                querystring.stringify(param), {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(response => {

                this.raws = []

                for (var i = 0; i < response.data.values.length; i++) {
                    var data = response.data.values[i]
                    delete data.is_deleted
                    delete data.created_at
                    data.label = data.name
                    data.value = data.id
                    this.raws.push(data)
                }


            })

        }
    }

};
</script>
