<template>
  <div class="container">
    
    <div class="row">
    	<div class="col-lg-12">
<!-- 
            <div class="jumbotron">
              <h1 class="display-4">Welcome</h1>
              <p class="lead">On this page there is a master table for organizing master data</p>
              <hr class="my-4">
              <p>CRUD operations can be performed on this page. CRUD is an acronym for Create, Read, Update, and Delete. CRUD operations are basic data manipulations for databases.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://www.youtube.com/" role="button">Learn more</a>
              </p>
            </div> -->

    		<div class="row">
                <div class="col-lg-6">
                    <span style="font-size: 30px"><i>HPP</i></span>
                    <br><br>
                </div>
                
            </div>

    		<table v-if="datas.length > 0" class="table table-hover table-bordered ">
		    	<thead>
		    		<tr>
		    			<th :key="key" v-for="(value, key) in datas[0]">{{ key }}</th>
                        <th>Action</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		
		    		<tr :key="item.id" v-for="item in datas">
		    			<td :key="key" v-for="(value, key) in item" >{{ render(value) }}</td>
                        <td>
                            <button @click="view(item)" class="btn btn-xs p-0 btn-block btn-success"><small>view</small></button>

                        </td>
		    		</tr>
		    		
		    	</tbody>
		    </table>
		    <br>
		    
    	</div>
        <div class="col-lg-6">
            <button @click="create()" class="btn btn-warning">Create</button>
        </div>
    	<div class="col-lg-6 text-right">
    		
    		<button v-if="page !=1 " @click="back()" class="btn btn-secondary">Back</button>
            <label>&nbsp;&nbsp;&nbsp;</label>
    		<button v-if="total !=0 " @click="next()" class="btn btn-dark">Next</button>

    	</div>
        <hr><br><br>
        
        <!-- {{data}} -->
       
        
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src

import axios from 'axios'
import Vue from 'vue';
import VueSweetalert2 from 'vue-sweetalert2';
import VModal from 'vue-js-modal'
 
Vue.use(VueSweetalert2)
Vue.use(VModal)

// If you don't need the styles, do not connect
import 'sweetalert2/dist/sweetalert2.min.css';

var querystring = require('querystring')
const toast = Vue.swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000
});

export default {
    name: "home",
    data() {
        return {
            data: {},
            datas: [],
            total: 0,
            page: 1,

            table: 'raw_materials',
            table_name : 'raw_materials',

            tables:['articles', 'raw_materials'],
           
        }
    },
    mounted() {
        
        this.getData()
        
    },

    methods: {


        open(name) {
            this.$modal.show(name);
        },

        close(name) {
            this.$modal.hide(name);
        },

        

    }

};
</script>
