<template>
  
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">HPP Services</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Master</router-link>
          </li>
          
        </ul>
      </div>
    </nav>

    <div style="padding-bottom: 50px">
      <br>
    </div>

    <router-view />

    <footer style="padding-top: 20px" class="container">
        <hr>
        <p>&copy; 2020 Febri, Inc</p>
      </footer>
  </div>
</template>
